@page
@model hw1009.Pages.Task1Model
@{
}

<div class="min-h-screen flex items-center justify-center">
    <div class="flex w-full max-w-md justify-between">
        <button class="p-4 bg-green-500 text-white hover:bg-green-700">Button 1</button>
        <button class="p-4 bg-green-500 text-white hover:bg-green-700">Button 2</button>
        <button class="p-4 bg-green-500 text-white hover:bg-green-700">Button 3</button>
    </div>
</div>
